.card {
    width: 30vw;
    height: 100%;
    position: relative;
    border-radius: 5px;
    transform-style: preserve-3d;
    transition: transform 1000ms;
    user-select: none;
    cursor: pointer;
}

.card-front, .card-back {
    width: 30vw;
    height: 45vh;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.card-front {
    transform: rotateY(0deg);
}

.card-back {
    transform: rotateY(180deg);
}