@import url('https://fonts.googleapis.com/css2?family=Delicious+Handrawn&display=swap');

.card {
    width: 400px;
    height: 300px;
    position: relative;
    transform-style: preserve-3d;
    transition: transform 1000ms;
    border-radius: 10px;
    user-select: none;
    cursor: pointer;
}

.card-front, .card-back {
    width: 400px;
    height: 300px;
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    font-family: 'Delicious Handrawn', cursive;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.card-front {
    transform: rotateY(0deg);
}

img {
    border-radius: 10px;
}

.card-back {
    transform: rotateY(180deg);
    background-image: url("/public/img/easter_eggs.jpg");
    background-size: cover;
}