@import url('https://fonts.googleapis.com/css2?family=Delicious+Handrawn&display=swap');

body {
  margin: 0;
  height: 100%;
  font-family: 'Delicious Handrawn', cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: whitesmoke;
  background-color: yellowgreen;
}
